//Custom variables

//color

$danger: #c22d3e

//NAVBAR

$navbar-light-color: white
$navbar-light-hover-color : white
//navbar active color
$navbar-light-active-color: white

$navbar-nav-link-padding-x: 20px